nav.navbar.navbar-default.navbar-fixed-top.navbar-top
  .container
    .navbar-header
      a.navbar-brand BOOKBINDING
    .navbar-collapse.collapse
      .nav.navbar-nav.navbar-right
        li
          a(href="#section_ask") INTRO
        li
          a(href="#section_about") ABOUT
        li
          a(href="#section_category") CATEGORY
        li
          a(href="#section_term") TERMS

header.jumbotron
  .container
    h1(data-0="transform: translateY(-30px)" data-500="transform: translateY(50px)") Bookbinding
    hr
    h4 the art and science of elegant hardcopy
section#section_ask
  .container
    .row
      .col-sm-5.img(data-0="transform: translateX(-150px)" data-500="transform: translateX(0px)")
      .col-sm-7(data-300="opacity: 0" data-500="opacity: 1")
        h3 Do you know how books are made without machines?
section#section_about
  .container
    .row
      .col-sm-12(data-bottom-top="transform: translateY(-50px);opacity: 0" data-center="transform: translateY(0px);opacity: 1")
        h2 About
        hr
      .col-md-4.col-sm-6
        .img_wrap(data-bottom-top="transform: translateY(-50px);opacity: 0" data-center="transform: translateY(0px);opacity: 1")
          img(src="https://i.pinimg.com/originals/81/66/af/8166af3d42e2854c5ff82c08312b2bba.jpg", alt="")
        h3(data-bottom-top="transform: translateY(-20px);opacity: 0" data-center="transform: translateY(0px);opacity: 1") Origins of the book
        p(data-bottom-top="opacity: 0" data-center="opacity: 1") The craft of bookbinding probably originated in India, where religious sutras were copied on to palm leaves (cut into two, lengthwise) with a metal stylus. The leaf was then dried and rubbed with ink, which would form a stain in the wound. The finished leaves were given numbers, and two long twines were threaded through each end through wooden boards, making a palm-leaf book. When the book was closed, the excess twine would be wrapped around the boards to protect the manuscript leaves. 
      .col-md-4.col-sm-6
        .img_wrap(data-bottom-top="transform: translateY(-50px);opacity: 0" data-center="transform: translateY(0px);opacity: 1")
          img(src="https://static1.squarespace.com/static/52cbe944e4b01ad22c2aad60/t/577d0acee4fcb5ea7f23bf8a/1467812589946/Bookbinding+Stitch.jpg?format=1500w", alt="")
        h3(data-bottom-top="transform: translateY(-20px);opacity: 0" data-center="transform: translateY(0px);opacity: 1") Modern hand binding
        p(data-bottom-top="opacity: 0" data-center="opacity: 1") Modern bookbinding by hand can be seen as two closely allied fields: the creation of new bindings, and the repair of existing bindings. Bookbinders are often active in both fields. Bookbinders can learn the craft through apprenticeship; by attending specialized trade schools; by taking classes in the course of university studies, or by a combination of those methods. 
      .col-md-4.col-sm-6
        .img_wrap(data-bottom-top="transform: translateY(-50px);opacity: 0" data-center="transform: translateY(0px);opacity: 1")
          img(src="http://www.thelibraryorganizer.ca/wp-content/uploads/2017/09/book-restoration-repair.jpg", alt="")
        h3(data-bottom-top="transform: translateY(-20px);opacity: 0" data-center="transform: translateY(0px);opacity: 1") Conservation & restoration
        p(data-bottom-top="opacity: 0" data-center="opacity: 1") Conservation and restoration are practices intended to repair damage to an existing book. While they share methods, their goals differ. The goal of conservation is to slow the book's decay and restore it to a usable state while altering its physical properties as little as possible.  The goal of restoration is to return the book to a previous state as envisioned by the restorer, often imagined as the original state of the book. 
        
section#section_category
  .container-fluid
    .row
      .col-sm-5
      .col-sm-7
        .col-sm-12
          h2 Categories of modern commercial binding
          hr
          .row
            .col-sm-3(data-bottom-top="transform: scale(1.2);opacity: 0" data-center="transform: scale(1);opacity: 1")
              h5 Hardcover binding
            .col-sm-3(data-bottom-top="transform: scale(1.2);opacity: 0" data-center="transform: scale(1);opacity: 1")
              h5 Punch and bind
            .col-sm-3(data-bottom-top="transform: scale(1.2);opacity: 0" data-center="transform: scale(1);opacity: 1")
              h5 Thermally activated binding
            .col-sm-3(data-bottom-top="transform: scale(1.2);opacity: 0" data-center="transform: scale(1);opacity: 1")
              h5 Stitched or sewn binding
            .col-sm-12.intro
              p(data-bottom-top="opacity: 0" data-center="opacity: 1") There are various commercial techniques in use today. <br>Today, most commercially produced books belong to one of four categories: Hardcover binding, Punch and bind, Thermally activated binding, and Stitched or sewn binding.
              
section#section_term
  .container
    .row
      .col-sm-12
        h2(data-bottom-top="transform: translateX(-50px);opacity: 0" data-center="transform: translateX(0px);opacity: 1") Terms and techniques
        hr
      .col-sm-6.text
        h3(data-bottom-top="transform: translateX(-50px);opacity: 0" data-center="transform: translateX(0px);opacity: 1") leaf
        p(data-bottom-top="transform: translateX(-50px);opacity: 0" data-center="transform: translateX(0px);opacity: 1") A leaf typically has two pages of text and/or images, front and back, in a finished book. The Latin for leaf is folium, therefore the ablative "folio" ("on the folium") should be followed by a designation to distinguish between recto and verso. Thus "folio 5r" means "on the recto of the leaf numbered 5". Although technically not accurate, common usage is "on folio 5r". 
        h3(data-bottom-top="transform: translateX(-50px);opacity: 0" data-center="transform: translateX(0px);opacity: 1") bifolium
        p(data-bottom-top="transform: translateX(-50px);opacity: 0" data-center="transform: translateX(0px);opacity: 1") A bifolium is a single sheet folded in half to make two leaves. The plural is "bifolia", not "bifolios".
        h3(data-bottom-top="transform: translateX(-50px);opacity: 0" data-center="transform: translateX(0px);opacity: 1") section
        p(data-bottom-top="transform: translateX(-50px);opacity: 0" data-center="transform: translateX(0px);opacity: 1") A section, sometimes called a gathering, or, especially if unprinted, a quire, is a group of bifolia nested together as a single unit. In a completed book, each quire is sewn through its fold.
      .col-sm-6(data-bottom-top="transform: translateX(150px);filter: grayscale(100%)" data-center="transform: translateX(0px);filter: grayscale(0%)")
        img(src="https://ebookfriendly.com/wp-content/uploads/2015/07/Book-diagrams-anatomy-of-a-hardcover-book-840x734.jpg", alt="")
        
footer.jumbotron
  .container
    h2 Want to learn more about bookbinding?
    input.form-control(placeholder="Email")
    hr
    button.btn.btn-default Subscribe